body {
    text-align: center;
}

h1 {
	color: brown;
}

h2 {
	color: blue;
	background: yellow;
	border-color: purple;
	border-width: 2px;
	border-style: solid;
	padding: 10px;
	margin-bottom: 80px;
}

h6 {
	color: pink;
	background: green;
	border-color: red;
	border-width: 4px;
	border-style: dashed;
    padding:10px;
}

ol {
    display: inline-block;
    text-align: left;
	border-color: black;
	border-width: 4px;
	border-style: dotted;
    padding: 10px 30px 10px 50px;
}

ul {
    display: inline-block;
    text-align: left;
    border-color: aqua;
	border-width: 8px;
	border-style: groove outset;
    padding: 10px 20px 10px 40px;
}

input {
	border-color: red;
}

span {
	color: goldenrod;
	outline: 1px dotted gold;
}

.avacadofan {
	color: darkseagreen;
}

#avacadohater {
	color: darkred;
}

.NotToDoList {
	color: orange;
}

.NotToDoList .hoverText{
    visibility: hidden;
    color: fuchsia;
    background: turquoise;
    padding: 10px;
    border-radius: 6px;
	}

.NotToDoList:hover .hoverText{
    display: inline-block;
    visibility: visible;
}